/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: black;
    color: white;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    margin: 30px 0;
    color: #e43270;
}

h2 {
    color: orange;
    margin: 20px 0;
}

img {
    width: 300px;
}

p {
    margin: 10px 0;
}

.float-left img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.float-right img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}